/**
 *  Site header
 */

header {
  background-color: #f5f5f5;
}

header h1 {
  margin: 0;
  padding: 19px 10px;
  font-size: 25px;
  line-height: 25px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
}

/**
 *  Minesweeper
 */

.ms {
  padding-bottom: 60px;
}

/**
 *  Minesweeper grid
 */

.ms-grid {}

.ms-grid-row {
  margin: 0 auto;
}

.ms-grid-cell {
  float: left;
  width: 50px;
  height: 50px;
}

.ms-grid-cell button {
  width: 48px;
  height: 48px;
  border: 1px solid #ccc;
  font-size: 20px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  border-radius: 2px;
}

.ms-grid-cell button {
  padding: 0;
}

/**
 *  Minesweeper state display
 */

.ms-state {
  margin: 0 auto;
  padding: 15px 0 0;
}

.ms-state .input-group-addon {
  font-weight: bold;
}

.ms-state input[readonly] {
  background-color: white;
  text-align: center;
  font-weight: bold;
}

.ms-state-exclamations,
.ms-state-time {
  width: 150px;
}

.ms-state-exclamations {
  float: left;
}

.ms-state-time {
  float: right;
}

/**
 *  Minesweeper options
 */

 .ms-options {
  margin: 0 auto;
  padding: 15px 0;
 }

 .ms-options .dropdown {
  float: left;
 }

 .ms-options-new {
  float: right;
 }

 .ms-options-custom {
  float: left;
  padding-top: 15px;
 }

/**
 *  clearfix
 *  credit: https://css-tricks.com/snippets/css/clear-fix/
 */

.group:after {
  content: "";
  display: table;
  clear: both;
}