/**
 *  Minesweeper state display
 *  (game running time, number of flagged cells etc)
 */

.ms-state {
  margin: 0 auto;
  padding: 15px 0 0;
}

.ms-state .input-group-addon {
  font-weight: bold;
}

.ms-state input[readonly] {
  background-color: white;
  text-align: center;
  font-weight: bold;
}

.ms-state-exclamations,
.ms-state-time {
  width: 150px;
}

.ms-state-exclamations {
  float: left;
}

.ms-state-time {
  float: right;
}

.ms-state-winlose {
  text-align: center;
  font-size: 16px;
  line-height: 36px;
  font-weight: bold;
}

.ms-state-winlose-won {
  color: #3e8f3e;
}

.ms-state-winlose-lost {
  color: #b92c28;
}