/**
 *  Site header
 */

header {
  position: relative;
}

header .page-header {
  margin-top: 0;
  padding-top: 40px;
}

header .page-header h1 {
  margin-top: 0;
  font-size: 28px;
  padding-left: 10px;
}

@media (max-width: 480px) {
  header .page-forkme {
    display: none;
  }
}

/**
 *  Site footer
 */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 10px;
  background-color: #f5f5f5;
  font-weight: bold;
}

footer .author-details,
footer .author-social {
  line-height: 30px;
}

footer .author-details {
  float: left;
}

footer .author-details .twitter-wrap {
  display: inline-block;
  position: relative;
  top: 5px;
  height: 20px;
}

footer .author-social {
  float: right;
}

footer .author-details a:hover {
  text-decoration: none;
}

@media (max-width: 480px) {
  footer .author-social,
  footer .author-details {
    float: none;
    text-align: center;
  }
}

/**
 *  Minesweeper container
 */

.ms {
  padding: 60px 10px;
  margin: 0 auto;
}
